.demo {
  padding: 15px 55px 0 55px;
  width: 100%;
  /* min-width: 660px; */
}

header {
  padding: 0 5px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .logo {
  margin-right: 11px;
}

.demo_left {
  cursor: pointer;
}

a.demo_left:active .title {
  color: #666;
}

.title:active {
  color: #666;
}

.demo_right {
  position: absolute;
  bottom: 45px;
  right: 0;
  color: #999;
}

.demo_right a {
  font-size: 14px;
  color: #999;
}

.demo_right a:active {
  color: #666;
}


header .title {
  font-size: 25px;
  color: #999999;
  display: inline-block;
  position: relative;
  margin-left: 17px;
  vertical-align: bottom;
  bottom: 15px;
  /* font-family: PingFangSC-Regular; */
  font-weight: bold;
}

header .title:before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background-color: #ddd;
  top: 50%;
  /* top: -4px; */
  left: -17px;
  border-radius: 50px;
  -ms-behavior: url(PIE.htc);
  behavior: url(PIE.htc);
}

.top_bar {
  height: 6px;
  /* background: #ffc00a url('./images/bar.png'); */
  background-size: 100% 100%;
  background-color: #ffc00a;
  background-image: linear-gradient(-180deg, #FFE69D 0%, #FFC00A 100%);
}   

section {
  width: 400px;
  padding: 55px 10px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  height: 500px;
  margin: auto;
  z-index: 2;
  min-width: 400px
}
section >div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  position: relative;
  /* background-color: #58a; */
  margin-bottom: 18px;
  /* flex-wrap: nowrap; */
  justify-content: flex-start;
}

section .form_title {
  /* font-family: PingFangSC-Regular; */
  display: block;
  font-size: 22px;
  line-height: 25px;
  color: #999999;
  text-align: center;
  margin-bottom: 25px;
}

section input {
  display: inline-block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  /* background: transparent; */
  border: 1px solid #D6D6D6;
  display:inline-block;
  outline: none;
  padding: 2px 10px;
  font-size: 16px;
  z-index: 2;
  position: relative;
  border-radius: 4px;
  -ms-behavior: url(PIE.htc);
  behavior: url(PIE.htc);
  box-sizing: border-box;
}
input[type=text]::-ms-clear {
  display:none
}

section input:focus {
  border: 1px solid rgba(81, 199, 122, 0.6);
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#a8e4b8')";  For IE 8 */
  box-shadow: inset 0 1px 1px rgba(0,0,0,.045), 0 0 8px rgba(106, 205, 83, 0.6);
  
}

section input::-webkit-input-placeholder {
  font-size: 16px;
  color: #C8C8C8;
}

section label {
  display: inline-block;
  font-size: 18px;
  /* font-size: 1.3em; */
  height: 40px;
  line-height: 40px;
  color: #343434;
  /* text-align: justify; */
  font-weight: normal;
  position: absolute;
  left: -82px;
}

section .iphone, section .code, section .img_code {
  position: relative;
}

#img_code {
  font-size: 2.2em;
}

section .iphone_code {
  width: 70%;
}

section .iphone_code.error {
  border-color: #f00;
}

section .code-span {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 30%;
  border: 1px solid #D6D6D6;
  border-radius: 3.6px;
  font-size: 1em;
  color: #999999;
  cursor: pointer;
  margin-left: 18px;
  -ms-behavior: url(PIE.htc);
  behavior: url(PIE.htc);
}

.img_code .code-span {
  color: #6aac8b;
  font-weight: bold;
}

.code-span.get_code {
  color: green;
}

section .code-inpt {
  width: 128px;
  height: 54px;
}

section .code-inpt:first-of-type {
  margin-right: 13px;
}

section .valid {
  font-size: 15px;
  color: #FF3742;
  position: absolute;
  /* right: 0; */
  left: 390px;
  width: 150px;
  top: 28%;
}

section .btn {
  width: 100%;
  height: 45px;
  background: #ffb900;
  border-radius: 3.6px;
  color: #fff;
  position: absolute;
  /* margin-left: 18%; */
  margin-top: 13px;
  outline: none;
  cursor: pointer;
  border: 0;
  transition: all .3s;
  font-size: 20px;
  right: 0;
  -ms-behavior: url(PIE.htc);
  behavior: url(PIE.htc);
}

section .btn:active {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
  /* background-color: #e6a805; */
  /* box-shadow: 0px 0px 10px rgba(255, 184, 3); */
  box-shadow: 0px 0px 10px rgb(242, 192, 134);
  -ms-behavior: url(PIE.htc);
  behavior: url(PIE.htc);

}

footer {
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  color: #999999;
  text-align: center;
  border-top: 1px solid #f0f0f0;
  background-color: #fff;
  /* position: relative; */
  position: absolute;
  left: 55px;
  right: 55px;
  /* width:100%; */
  bottom:0;
}

footer a, footer span {
  cursor: pointer;
}

footer span:active, footer a:active {
  opacity: 0.75;
}

.yb img {
  width: 56px;
  height: auto;
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%);
}
/* 兼容 */

.placeholder {
  color: #999;
}

.ph_pw {
  position: absolute;
  left: -1px;
  /* left: 18%; */
  /* top: 7px; */
  height: 40px;
  line-height: 40px;
  font-style: normal;
  padding-left: 15px;
  z-index: -1;
  font-size: 16px;
  color: #999;
}

.ph_pw.hide {
  display: none;
}

@media screen and (max-width: 767px) {

  /* html {
      iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
    /* font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39);
  } */
}

@media only screen and (max-width: 479px) {
  .demo {
    padding: 10px;
  }
  header {
    display: block;
  }
  .demo_left {
    display: block;
  }

  .demo_left img {
    width: 40%;
  }
  .demo_left .title {
    position: absolute;
    font-size: 1.2rem;
    top: 30%;
    height: 30px;
  }

  .demo_right {
    position: static;
    display: block;
    width: 100%;
    text-align: right;
  }
  section {
    /* position: static; */
    width: 100%;
    /* background-color: #37f; */
    padding:30px 15px 20px;
    min-width: 100%;
    /* margin-right: 0; */
    top: 50%;
    margin: 0;
    transform: translateY(-45%);
    /* margin-top: -20%; */
    /* font-size: 1em; */
  }
  section .form_title {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
  }
  section >div {
    margin-bottom: 1.3rem;
  }
  section label {
    position: static;
    width: 20%;
    font-size: 1rem;
    height: 35px;
    line-height: 35px;
    /* background-color: #f09; */
  }
  section input {
    width: 79%;
    height: 35px;
    line-height: 35px;
    /* background-color: #f78; */
  }

  section .iphone_code {
    width: 55%;
  }
  section .code-span {
    width: 21%;
    margin-left: .6rem;
    font-size: .7rem;
    height: 35px;
    line-height: 35px;
  }
  section .btn {
    height: 35px;
    margin-top: 6px;
  }
  #img_code {
    font-size: 1.5em;
  }
  footer {
    position: absolute;
    padding-top: 15px;
    /* height: 80px; */
    left: 5px;
    right: 5px;
    font-size: 12px;
    /* height: 40px; */
    line-height: 20px;
    margin: 0;
    /* background-color: #f00; */
  }
  footer span{
    display: inline-block;
    width: 85%;
    /* background-color: #58a; */
  }

  .yb img {
    width: 28px;
    right: 10px;
  }

  section .valid {
    font-size: .8rem;
    left: 75px;
    /* width: 150px; */
    top: 37px;
  }

  .btn:active {
    background-color: #e2a606;
    -webkit-tap-highlight-color: transparent;
  }
  section .code-span:active {
    box-shadow: inset 0 0 5px 1px #e4e0e0;
  }
  a{-webkit-tap-highlight-color:transparent};

  /* span:active {
    background-color: red;
    -webkit-tap-highlight-color: transparent;
  }  */

  /* a,a:hover,a:active,a:visited,a:link,a:focus{
    background: #ccc;
  } */

  /* #page{ width: 300px; }#content,.div1{width: 300px;}#secondary{display:none}#access{width: 330px;} #access a {padding-right:10px;padding-left:10px}#access a img{display:none}#rss{display:none}#branding #s{display:none}#access ul ul a{width:100px} */
}

@media only screen and (max-height: 479px) {
  footer {
    position: relative;
    left:0;
  }
  .container {
    position: relative;
    min-height: 500px;
    /* background-color: #f00; */
  }
}
/* 平板 */
@media screen and (min-width:600px) and (max-width:960px) {
  .btn:active {
    background-color: #e2a606;
    -webkit-tap-highlight-color: transparent;
  }
  section .code-span:active {
    box-shadow: inset 0 0 5px 1px #e4e0e0;
  }
  a{-webkit-tap-highlight-color:transparent};
}

/* @media only screen and (max-height: 479px) {

} */